<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>anh.YellowMoon.filters.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>anh.YellowMoon.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>YellowMoonShopServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.YellowMoonShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.CreateCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.TrackOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccessServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.CreateAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAccessServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.CartAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.ChangeQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccessServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.DetailAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.admin.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>anh.YellowMoon.servlets.customer.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeServlet</servlet-name>
        <url-pattern>/CreateCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderServlet</servlet-name>
        <url-pattern>/TrackOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccessServlet</servlet-name>
        <url-pattern>/CreateAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAccessServlet</servlet-name>
        <url-pattern>/CartAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <url-pattern>/ChangeQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccessServlet</servlet-name>
        <url-pattern>/DetailAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>J3.L.P0011.-Yellow-Moon-Shop</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>authtoken</param-name>
        <param-value>AYvLDytBnjzsDqHxhRbBpBgWayjq9WgOD0_nk5G8PXCx9g8bYzsWrPGRHo4h8fdgQ_ZJJ-4d0gQLjI5Y</param-value>
    </context-param>
    <context-param>
        <param-name>posturl</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>sb-9or5b3428885@business.example.com</param-value>
    </context-param>
    <context-param>
        <param-name>returnurl</param-name>
        <param-value>http://localhost:8080/J3.L.P0011.-Yellow-Moon-Shop/checkOut</param-value>
    </context-param>
</web-app>
